<div class="header pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-12 col-7">
                    <h6 class="h2 text-dark d-inline-block mb-0"> Payment </h6>

                    <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class=" breadcrumb-item">
                                <a href="javascript:void(0)"> <i class="fas fa-dollar-sign text-dark"> </i> </a>
                            </li>
                            <li aria-current="page" class="breadcrumb-item active">
                                Payment
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div class=" row">
                <div class=" col-xl-4 col-md-6">
                  <div class=" card card-stats">
                    <div class=" card-body">
                      <div class=" row">
                        <div class=" col">
                          <h5 class=" card-title text-uppercase text-muted mb-0">
                            Total traffic
                          </h5>
        
                          <span class=" h2 font-weight-bold mb-0"> 350,897 </span>
                        </div>
        
                        <div class=" col-auto">
                          <div
                            class=" icon icon-shape bg-gradient-red text-white rounded-circle shadow"
                          >
                            <i class=" ni ni-active-40"> </i>
                          </div>
                        </div>
                      </div>
        
                      <p class=" mt-3 mb-0 text-sm">
                        <span class=" text-success mr-2">
                          <i class=" fa fa-arrow-up"> </i> 3.48%
                        </span>
        
                        <span class=" text-nowrap"> Since last month </span>
                      </p>
                    </div>
                  </div>
                </div>
        
                <div class=" col-xl-4 col-md-6">
                  <div class=" card card-stats">
                    <div class=" card-body">
                      <div class=" row">
                        <div class=" col">
                          <h5 class=" card-title text-uppercase text-muted mb-0">
                            Payment Channel
                          </h5>
        
                          <span class=" h2 font-weight-bold mb-0"> 2,356 </span>
                        </div>
        
                        <div class=" col-auto">
                          <div
                            class=" icon icon-shape bg-gradient-orange text-white rounded-circle shadow"
                          >
                            <i class=" ni ni-chart-pie-35"> </i>
                          </div>
                        </div>
                      </div>
        
                      <p class=" mt-3 mb-0 text-sm">
                        <span class=" text-success mr-2">
                          <i class=" fa fa-arrow-up"> </i> 3.48%
                        </span>
        
                        <span class=" text-nowrap"> Since last month </span>
                      </p>
                    </div>
                  </div>
                </div>
        
                <div class=" col-xl-4 col-md-6">
                  <div class=" card card-stats">
                    <div class=" card-body">
                      <div class=" row">
                        <div class=" col">
                          <h5 class=" card-title text-uppercase text-muted mb-0">
                            Performance
                          </h5>
        
                          <span class=" h2 font-weight-bold mb-0"> 924 </span>
                        </div>
        
                        <div class=" col-auto">
                          <div
                            class=" icon icon-shape bg-gradient-green text-white rounded-circle shadow"
                          >
                            <i class=" ni ni-money-coins"> </i>
                          </div>
                        </div>
                      </div>
        
                      <p class=" mt-3 mb-0 text-sm">
                        <span class=" text-success mr-2">
                          <i class=" fa fa-arrow-up"> </i> 3.48%
                        </span>
        
                        <span class=" text-nowrap"> Since last month </span>
                      </p>
                    </div>
                  </div>
                </div>    
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-2">
                            <img
							alt="Image placeholder"
							class=" card-img-top"
							src="assets/img/logo/paypal.png"
							/>
                        </div>
                        <div class="col-xl-6">
                            <h3>
                                PayPal
                            </h3>
                            <p>
                                A payment channel is any way that a customer can make a payment, or anywhere that YOU (the merchant) might accept a payment. Payment channels are specifically associated with how the payment is made.
                            </p>
                        </div>
                        <div class="col-xl-4">
                            <button class=" btn btn-default" type="button"> Print </button>
                            <button class=" btn btn-success" type="button"> Enable </button>
                            <button class=" btn btn-danger" type="button"> Disable </button>
                            <!-- <div class="row">
                                <div class="col">
                                    <button class=" btn btn-default" type="button"> Print </button>
                                </div>
                                <div class="col">
                                    <button class=" btn btn-success" type="button"> Enable </button>
                                </div>
                                <div class="col">
                                    <button class=" btn btn-danger" type="button"> Disable </button>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-2">
                            <img
							alt="Image placeholder"
							class=" card-img-top"
							src="assets/img/logo/maybank.png"
							/>
                        </div>
                        <div class="col-xl-6">
                            <h3>
                                Maybank
                            </h3>
                            <p>
                                A payment channel is any way that a customer can make a payment, or anywhere that YOU (the merchant) might accept a payment. Payment channels are specifically associated with how the payment is made.
                            </p>
                        </div>
                        <div class="col-xl-4">
                            <button class=" btn btn-default" type="button"> Print </button>
                            <button class=" btn btn-success" type="button"> Enable </button>
                            <button class=" btn btn-danger" type="button"> Disable </button>
                            <!-- <div class="row">
                                <div class="col">
                                    <button class=" btn btn-default" type="button"> Print </button>
                                </div>
                                <div class="col">
                                    <button class=" btn btn-success" type="button"> Enable </button>
                                </div>
                                <div class="col">
                                    <button class=" btn btn-danger" type="button"> Disable </button>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-2">
                            <img
							alt="Image placeholder"
							class=" card-img-top"
							src="assets/img/logo/cimb.png"
							/>
                        </div>
                        <div class="col-xl-6">
                            <h3>
                                Cimb Bank
                            </h3>
                            <p>
                                A payment channel is any way that a customer can make a payment, or anywhere that YOU (the merchant) might accept a payment. Payment channels are specifically associated with how the payment is made.
                            </p>
                        </div>
                        <div class="col-xl-4">
                            <button class=" btn btn-default" type="button"> Print </button>
                            <button class=" btn btn-success" type="button"> Enable </button>
                            <button class=" btn btn-danger" type="button"> Disable </button>
                            <!-- <div class="row">
                                <div class="col">
                                    <button class=" btn btn-default" type="button"> Print </button>
                                </div>
                                <div class="col">
                                    <button class=" btn btn-success" type="button"> Enable </button>
                                </div>
                                <div class="col">
                                    <button class=" btn btn-danger" type="button"> Disable </button>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-12">
            <div class="card">
                <div class="card-header bg-default">
                    <h3 class="m-0 mt-2 text-white"> Quotation </h3>
                </div>
                <div class="card-body">
                    <div class="dataTables_wrapper py-4">
                        <div class="row">
                          <div class="col-sm-12 col-md-6">
                            <div class="dataTables_length" id="datatable_length">
                              <label>
                                Show
                                <select
                                  name="datatable_length"
                                  aria-controls="datatable"
                                  class="form-control form-control-sm"
                                  (change)="entriesChange($event)"
                                >
                                  <option value="5" [selected]="entries==5">5</option>
                                  <option value="10" [selected]="entries==10">10</option>
                                  <option value="15" [selected]="entries==15">15</option>
                                  <option value="-1" [selected]="entries==-1">All</option>
                                </select>
                                entries
                                </label>
                            </div>
                          </div>
                          <div class="col-sm-12 col-md-6">
                            <div id="datatable_filter" class="dataTables_filter">
                              <label>
                                <input
                                  type="search"
                                  class="form-control form-control-sm"
                                  placeholder="Search records"
                                  aria-controls="datatable"
                                  (keyup)="filterTable($event)"
                                />
                              </label>
                            </div>
                          </div>
                        </div>
                    
                        <ngx-datatable
                          class="bootstrap selection-cell"
                          [columnMode]="'force'"
                          [headerHeight]="50"
                          [footerHeight]="50"
                          [rowHeight]="'auto'"
                          [limit]="entries != -1 ? entries:undefined"
                          [rows]="temp"
                          
                        >
                    
                            <ngx-datatable-column name=" Company Name" >
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.company}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Certificate Holder" >
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.clientId}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Company" >
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.company}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Name" >
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.name}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Date" >
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.date}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Action">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <!-- <button class=" btn btn-icon btn-danger btn-sm" type="button" title="Action" (click)="openModal(viewAction)">
                                        <span class=" btn-inner--icon"> <i class=" fas fa-file-pdf"> </i> </span>
                                    </button> -->
                                    <button class=" btn btn-icon btn-default btn-sm" type="button" title="Analytic" (click)="openModal(analytic)">
                                        <span class=" btn-inner--icon"> <i class=" fas fa-file-upload"> </i> </span>
                                    </button>
                                    <!-- <button class=" btn btn-icon btn-primary btn-sm" type="button" title="Edit" (click)="openModal(edit)">
                                        <span class=" btn-inner--icon"> <i class=" fas fa-edit"> </i> </span>
                                    </button> -->
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #analytic>
    <div class=" modal-header bg-default ">
        <h6 class=" modal-title text-white" id="modal-title-default">
            Action
        </h6>

        <button
        aria-label="Close"
        class=" close"
        data-dismiss="modal"
        type="button"
        (click)="modalRef.hide()"
        >
        <span aria-hidden="true"> × </span>
        </button>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label class="form-control-label"> To Send Quotation </label>
                    <select class="form-control custom-select">
                        <option hidden selected>Please pick</option>
                        <option> Attention To </option>
                        <option> Email To </option>
                    </select>   
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label class="form-control-label"> Name </label>
                    <input
                        class=" form-control"
                        id="example-text-input"
                        type="text"
                        placeholder="Type here..."
                    />   
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label class="form-control-label"> Attachment </label>
                    <div class=" custom-file">
                        <input
                          class=" custom-file-input"
                          id="customFileLang"
                          lang="en"
                          type="file"
                        />
        
                        <label class=" custom-file-label" for="customFileLang">
                          Select file
                        </label>
                      </div>
                </div>
            </div>
        </div>
    </div>

    <div class=" modal-footer">
        <button 
            class=" btn btn-default text-white" 
            type="button" 
            class="btn btn-success"
            (click)="successSwal()"
        >
            Save
        </button>
        <button
            class=" btn btn-link btn-outline-danger ml-auto text-danger"
            data-dismiss="modal"
            type="button"
            (click)="modalRef.hide()"
        >
            Close
        </button>
    </div>
</ng-template>