<div class="header pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-12 col-7">
                    <h6 class="h2 text-dark d-inline-block mb-0"> Application Review (AR) </h6>

                    <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class=" breadcrumb-item">
                                <a href="javascript:void(0)"> <i class="fas fa-file-invoice-dollar text-dark"> </i> </a>
                            </li>
                            <li aria-current="page" class="breadcrumb-item active">
                                Sales & Business Development
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-header bg-default">
                    <div class="row">
                        <div class="col-6">
                            <h3 class="m-0 mt-2 text-white"> Audit Days Breakdown </h3>
                        </div>
                        <div class="col-6 text-right">
                            <button class=" btn btn-success" type="button"> Print </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="chart">
                        <div class="amchart" id="chartARpie1"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card">
                <div class="card-header bg-default">
                    <h3 class="m-0 mt-2 text-white"> Year 2021 Audit Conclusion </h3>
                </div>
                <div class="card-body">
                    <div class="chart">
						<div class="amchart" id="chartARbar1"></div>
					</div>
                </div>
            </div>
        </div>
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header bg-default">
                    <h3 class="m-0 text-white"> Application Review (AR) </h3>
                </div>
                <div class="card-body">
                    <div class="dataTables_wrapper py-4">
                        <div class="row">
                          <div class="col-sm-12 col-md-6">
                            <div class="dataTables_length" id="datatable_length">
                              <label>
                                Show
                                <select
                                  name="datatable_length"
                                  aria-controls="datatable"
                                  class="form-control form-control-sm"
                                  (change)="entriesChange($event)"
                                >
                                  <option value="5" [selected]="entries==5">5</option>
                                  <option value="10" [selected]="entries==10">10</option>
                                  <option value="15" [selected]="entries==15">15</option>
                                  <option value="-1" [selected]="entries==-1">All</option>
                                </select>
                                entries
                                </label>
                            </div>
                          </div>
                          <div class="col-sm-12 col-md-6">
                            <div id="datatable_filter" class="dataTables_filter">
                              <label>
                                <input
                                  type="search"
                                  class="form-control form-control-sm"
                                  placeholder="Search records"
                                  aria-controls="datatable"
                                  (keyup)="filterTable($event)"
                                />
                              </label>
                            </div>
                          </div>
                        </div>
                    
                        <ngx-datatable
                          class="bootstrap selection-cell"
                          [columnMode]="'force'"
                          [headerHeight]="50"
                          [footerHeight]="50"
                          [rowHeight]="'auto'"
                          [limit]="entries != -1 ? entries:undefined"
                          [rows]="temp"
                          
                        >
                    
                            <ngx-datatable-column name="Certification Scope" >
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.typeDoc}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Consultant Name" >
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.name}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Audit Time" >
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.time}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Date" >
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.date}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Action">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <!-- <button class=" btn btn-icon btn-danger btn-sm" type="button" title="Action" (click)="openModal(viewAction)">
                                        <span class=" btn-inner--icon"> <i class=" fas fa-file-pdf"> </i> </span>
                                    </button> -->
                                    <button class=" btn btn-icon btn-default btn-sm" type="button" title="View" (click)="openModal(edit)">
                                        <span class=" btn-inner--icon"> <i class=" far fa-eye"> </i> </span>
                                    </button>
                                    <button class=" btn btn-icon btn-primary btn-sm" type="button" title="Edit" (click)="openModal(edit)">
                                        <span class=" btn-inner--icon"> <i class=" fas fa-edit"> </i> </span>
                                    </button>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #edit>
    <div class=" modal-header bg-default ">
        <h6 class=" modal-title text-white" id="modal-title-default">
            Application Review (AR)
        </h6>
  
        <button
          aria-label="Close"
          class=" close"
          data-dismiss="modal"
          type="button"
          (click)="modalRef.hide()"
        >
          <span aria-hidden="true"> × </span>
        </button>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label class="form-control-label"> Certification Scope </label>
                    <input
                        class=" form-control"
                        id="example-text-input"
                        type="text"
                        placeholder="Type here..."
                    />   
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label class="form-control-label"> Audit Time </label>
                    <input
                    class=" form-control"
                    id="example-time-input"
                    type="time"
                    value="10:30:00"
                  /> 
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label class="form-control-label"> Consultant Name </label>
                    <input
                        class=" form-control"
                        id="example-text-input"
                        type="text"
                        placeholder="Type here..."
                    />   
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label class="form-control-label"> Date </label>
                    <input
                    class=" form-control"
                    id="example-date-input"
                    type="date"
                    value="2021-01-01"
                  />   
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label class="form-control-label"> Justification </label>
                    <select class="form-control custom-select">
                        <option hidden selected>Please pick</option>
                        <option> Review </option>
                        <option> Reject </option>
                    </select>   
                </div>
            </div>
        </div>
    </div>

    <div class=" modal-footer">
        <button 
            class=" btn btn-default text-white" 
            type="button" 
            class="btn btn-success"
            (click)="successSwal()"
        >
            Save
	    </button>
        <button
            class=" btn btn-link btn-outline-danger ml-auto text-danger"
            data-dismiss="modal"
            type="button"
            (click)="modalRef.hide()"
        >
            Close
        </button>
	</div>
</ng-template>